:root {
  --primary-color: #14141f;
  --primary-color-rgb: rgba(20, 20, 31);

  --secondary-color: #c5269d;
  --secondary-color-2: #8505ab;
  --secondary-color-rgb: rgba(197, 38, 157);
  --secondary-color-rgb-2: rgba(133, 5, 171);
}
